project/ant.properties
project/local.properties
project/proguard-project.txt
project/project.properties
project/bin
project/gen
project/libs
project/assets
project/obj
project/src
project/res/values*
project/AndroidManifest.xml
project/jni/Settings.mk
libapplication.so
project/jni/application/src
